$font-size-input: 18px;
$font-weight-input: 500;

$color-blue-light: #aed2ef;
$color-blue-dark: #073590;
$color-blue: #1e8adf;
$color-gold: #f1c933;
$color-light: #fff;
$color-site-background: #fff;

$device-wide: 768px;
